<div class="rock-paper-scissors flex flex-col items-center">
    <div id="choices"></div>
    <h2 id="result"></h2>
    <div>
      User: <span id="user-score"></span>
      Computer: <span id="computer-score"></span>
    </div>
</div>
