// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

h1, h2, h3, h4, h5 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white
}

p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}
