<h3>
  <%= link_to "Go Back", root_path %>
</h3>

<div class="mt-12">

  <h1>Javascript Exercises</h1>

  <h2 class="mt-8">CSS Grid</h2>
  <ul class="mt-4">
    <% @javascript.each do |exercise| %>

      <li>

        <%= link_to javascript_path(exercise) do %>
          <h3>
            <%= exercise.title %>
            <span>from <%= exercise.course %></span>
          </h3>
        <% end %>

      </li>

    <% end %>
  </ul>

</div>
