<main class="flex h-full flex-col justify-center items-center">

  <h1 class="text-center mb-8">Rails 6 Playground</h1>

  <ul class="grid grid-cols-3 gap-5">

    <li>
      <%= link_to javascript_index_path, class: "rounded-card" do %>
        <div class="flex items-center justify-center">
            <h3>JavaScript Index</h3>
        </div>
      <% end  %>
    </li>

    <li>
      <%= link_to react_index_path, class: "rounded-card" do %>
        <div class="flex items-center justify-center ">
          <h3>React Index</h3>
        </div>
      <% end  %>
    </li>

    <li>
      <%= link_to css_index_path, class: "rounded-card" do %>
        <div class="flex items-center justify-center">
          <h3>CSS Index</h3>
        </div>
      <% end  %>
    </li>

  </ul>

</main>
