<h1>Rails 6 Playground</h1>

<div class="mt-12">


  <ul>
    <li>

      <%= link_to javascript_index_path do %>
        <h3>JavaScript Index</h3>
      <% end  %>

    </li>


    <li>

      <%= link_to react_index_path do %>
        <h3>React Index</h3>
      <% end  %>

    </li>
    <li>

      <%= link_to css_index_path do %>
        <h3>CSS Index</h3>
      <% end  %>

    </li>
  </ul>


</div>
