<main class="flex h-full flex-col justify-center">

  <h1 class="text-center mb-8">Rails 6 Playground</h1>

  <ul class="flex justify-evenly gap-5 flex-wrap">

    <div class="flex items-center justify-center min-h-[250px] bg-sky-600 rounded-xl basis-1/4">
      <li>
        <%= link_to javascript_index_path class: "block h-full" do %>
          <h3>JavaScript Index</h3>
        <% end  %>
      </li>
    </div>

    <div class="flex items-center justify-center min-h-[250px] bg-sky-600 rounded-xl basis-1/4">
      <li>
        <%= link_to react_index_path do %>
          <h3>React Index</h3>
        <% end  %>
      </li>
    </div>

    <div class="flex items-center justify-center min-h-[250px] bg-sky-600 rounded-xl basis-1/4">
      <li>
        <%= link_to css_index_path do %>
          <h3>CSS Index</h3>
        <% end  %>
      </li>
    </div>

  </ul>

</main>
