<div class="flexbox-navbar-exercise">

  <div class="header">
    <header>
      <nav>
        <ul class = "flex flex-wrap justify-evenly lg:justify-end items-center">

          <li class="flex basis-full justify-center mb-4 lg:order-2 lg:basis-auto lg:my-0 lg:mx-auto">
            <a class="text-xl font-light" href="">
              <%= image_tag("header-logo.svg", alt: "Logo. Click for home.") %>
            </a>
          </li>


          <li class="lg:order-1 lg:mr-8">
            <a class="text-xl font-light" href="">
              Collections
            </a>
          </li>


          <li class="lg:order-1">
            <a class="text-xl font-light" href="">
              About
            </a>
          </li>


          <li class="lg:order-3 lg:mr-8">
            <a class="text-xl font-light" href="">
              Contact
            </a>
          </li>


          <li class="lg:order-3">
            <a class="text-xl font-light" href="">
              Donations
            </a>
          </li>


        </ul>
      </nav>
    </header>
  </div>

</div>
