<div class="flexbox-grid-exercise">
  <h2>Row 1</h2>

  <!-- Row 1: One box per column -->
  <div class="flex flex-wrap">
    <figure class="basis-1/2 lg:basis-1/4">

      <div class="one"></div>

      <figcaption>
        <h2>Abstract 1</h2>
        <p>Lorem ipsum dolor sit amet.</p>
      </figcaption>
    </figure>

    <figure class="basis-1/2 lg:basis-1/4">
      <div class="two"></div>

      <figcaption>
        <h2>Abstract 2</h2>
        <p>Lorem ipsum dolor sit amet.</p>
      </figcaption>
    </figure>

    <figure class="basis-1/2 lg:basis-1/4">
      <div class="three"></div>

      <figcaption>
        <h2>Abstract 3</h2>
        <p>Lorem ipsum dolor sit amet.</p>
      </figcaption>
    </figure>

    <figure class="basis-1/2 lg:basis-1/4">
      <div class="four"></div>

      <figcaption>
        <h2>Abstract 4</h2>
        <p>Lorem ipsum dolor sit amet.</p>
      </figcaption>
    </figure>

  </div>

  <h2>Row 2</h2>
  <!-- Row 2: 2 boxes, each spanning 2 columns -->
  <div class="flex flex-wrap">

    <figure class="basis-1/2 order-2">
      <div class="three"></div>

      <figcaption>
        <h2>Abstract 3</h2>
        <p>Lorem ipsum dolor sit amet.</p>
      </figcaption>
    </figure>

    <figure class="basis-1/2 order-1">
      <div class="one basis-1/2"></div>

      <figcaption>
        <h2>Abstract 1</h2>
        <p>Lorem ipsum dolor sit amet.</p>
      </figcaption>
    </figure>

  </div>

  <h2>Row 3</h2>
  <!-- Row 3: One box spans 3 columns, one box spans 1 column -->
  <div class="flex flex-wrap">

    <figure class="basis-full lg:basis-3/4 order-2">
      <div class="four"></div>

      <figcaption>
        <h2>Abstract 4</h2>
        <p>Lorem ipsum dolor sit amet.</p>
      </figcaption>
    </figure>

    <figure class="basis-full lg:basis-1/4 order-1">
      <div class="two"></div>

      <figcaption>
        <h2>Abstract 2</h2>
        <p>Lorem ipsum dolor sit amet.</p>
      </figcaption>
    </figure>

  </div>

  <h2>Row 4</h2>
  <!-- Row 4: One box spans 4 columns -->
  <div class="flex">

    <figure class="basis-full">
      <div class="three"></div>
      <figcaption>
        <h2>Abstract 3</h2>
        <p>Lorem ipsum dolor sit amet.</p>
      </figcaption>
    </figure>

  </div>

  <h2>Row 5</h2>
  <!-- Row 5: 3 boxes, 1-2-1 distribution -->
  <div class="flex flex-wrap lg:flex-row-reverse">

    <figure class="basis-1/2 order-1 lg:basis-1/4">
      <div class="four"></div>
      <figcaption>
        <h2>Abstract 4</h2>
        <p>Lorem ipsum dolor sit amet.</p>
      </figcaption>
    </figure>

    <figure class="basis-full lg:basis-2/4">
      <div class="two"></div>
      <figcaption>
        <h2>Abstract 2</h2>
        <p>Lorem ipsum dolor sit amet.</p>
      </figcaption>
    </figure>

    <figure class="basis-1/2 order-2 lg:basis-1/4">
      <div class="one"></div>
      <figcaption>
        <h2>Abstract 1</h2>
        <p>Lorem ipsum dolor sit amet.</p>
      </figcaption>
    </figure>

  </div>
</div>
