@tailwind base;


@layer base {
  h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    @apply text-3xl font-bold;
  }
  h3 {
    @apply text-2xl font-bold;
  }
  h4 {
    @apply text-xl font-bold;
  }
}



@tailwind components;
@layer components {
  .rounded-card {
    transition: 0.3s ease-in-out;
    @apply block p-36 bg-violet-600 hover:bg-violet-500 rounded-xl shadow-xl;
  }

  /* Forms */
    .form-inputs .form-group {
    @apply mt-2;
  }

  .form-inputs .form-control-file {
    border: 0;
    color: white;
  }

  .form-inputs input, textarea {
    color: black;
    @apply mt-2 w-full border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:border-violet-500 focus:ring-1 focus:ring-violet-500;
  }

  .form-select {
    @apply text-black border-gray-300 rounded-lg shadow-sm focus:outline-none focus:border-violet-500 focus:ring-1 focus:ring-violet-500;
  }
}
@tailwind utilities;
